# more on lists in python

In [6]:
planets = ["mercury", "venus", "earth" , "mars" ,"jupyter", "saturn" , "uranus" , "neptune"]
planets

['mercury', 'venus', 'earth', 'mars', 'jupyter', 'saturn', 'uranus', 'neptune']

In [7]:
"earth" in planets

True

In [9]:
planets.pop()

'uranus'

In [11]:
planets

['mercury', 'venus', 'earth', 'mars', 'jupyter', 'saturn']

In [14]:
planets.append("neptune")
planets

['mercury',
 'venus',
 'earth',
 'mars',
 'jupyter',
 'saturn',
 'neptune',
 'neptune',
 'neptune']

# working with tuples

In [23]:
# 1. the syntax for creating them uses parenthesis instead of square brackets
# 2. unlike lists they cannot be modified..(immutable)

t = (1,2,3,4)
t

(1, 2, 3, 4)

In [28]:
# 3. tuples are often used for functions that have multiple return values
x = 0.125
x.as_integer_ratio()
# here since there is two items that is 1/8 , 1 and 8 .. this function return 
# the value in the form of tuple as shown below..

(1, 8)

In [30]:
#assigning the returned values individually
numerator, denominator = x.as_integer_ratio()
print(numerator, denominator)

1 8

In [41]:
def select_second(L):
    if len(L)<2:
        return None
    return L[1]
L=[1]
print(select_second(L))

None

In [44]:
# nested lists
nest = [["anoop","anita", "amma","papa"],["aliyan", "ammu","uncle", "amma"]]
nest[1]

['aliyan', 'ammu', 'uncle', 'amma']

In [46]:
nest[-1][1]

'ammu'

In [47]:
len([1,2,3][1:])

2

In [49]:
len([])

0

In [53]:
list1 =("abdul", "abin","ajith","aiswarya","amal", "anup","anu")
l = int(len(list1)/2)
name = "amal"
if name in list1[l:-1]:
    print("y")

y

In [54]:
y = 4
if y is even:
    print(1)

NameError: name 'even' is not defined

In [56]:
# program function called fashionably late
# in this function out of sequentially arrived guests the one coming after 
# half of people arrived and not the last one is called fashionably late

def fashionably_late(arrivals,name):
    order = arrivals.index(name)
    return order >= len(arrivals)/2 and order != len(arrivals)-1

In [67]:
planets
for planet in planets:
    print(planet, end = ' ')
# here end is used to show how to diaplay the data..
# by default end is '\n' so it will display as a row
# to display it in one line.. just change the end to ' '

mercury venus earth mars jupyter saturn neptune neptune neptune

# list comprehensions
## lists are one of the most beloved and unique featues in python.
### here are some examples

In [78]:
squares = [n**2 for n in range(10)]
squares
# here we can see that we are creating a list of lengh 10 using list comprehension
# performing a particular task. that is here squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [80]:
# using if condition inside a list comprehension
short_planets = [planet for planet in planets if len(planet)<6]
short_planets
# here we used if to create only those planets that have character length less than 6

['venus', 'earth', 'mars']